* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}

.warper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../image/photo-1533371452382-d45a9da51ad9.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  border: 2px solid aquamarine;
  width: 350px;
  padding: 30px 30px;
  background: linear-gradient(255deg, #e70777, #4f0d68);
  color: aliceblue;
  border-radius: 5px;
}

.submit {
  transition: 0.4s;
  border: 1px solid aquamarine;
  padding: 6px 30px;
  border-radius: 5px;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  color: aliceblue;
  margin: 10px;
  background-color: #4f0d68;
  display: inline-block;
}
.submit:hover {
  border-color: #4f0d68;
  background-color: aliceblue;
  color: #4f0d68;
  text-decoration: none;
}
.title {
  color: aquamarine;
  text-align: center;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.info {
  margin: 9px;
  text-align: left;
}

.signin {
  height: 250px;

  text-align: center;
}
.signup {
  text-align: center;
}
label {
  display: block;
  margin-bottom: 3px;
}
#gender {
  margin: 5px;
}
.info input {
  border: 1px solid aquamarine;
  border-radius: 2px;
  padding: 2px;
}
.info select {
  border: 1px solid aquamarine;
  border-radius: 2px;
  padding: 2px;
}
.account a {
  color: aquamarine;
  text-decoration: none;
}
.info a {
  color: aquamarine;
}
